body{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 72%, rgba(198,224,255,1) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*MENU*/

header nav{
	margin: 27px auto 0;
	max-width: 590px;
	background: rgb(255, 221, 236);
    background: linear-gradient(90deg, rgb(255, 221, 236) 0%, rgb(210, 230, 255) 100%);
	border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-bottom: 84px;
}
nav a {
    padding: 15px;
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
    color: rgb(145, 83, 160); 
	cursor: pointer;
}
.logo{
       justify-content: center;
    height: 100px;
    display: flex;
    margin-top: 15px;
    }

ul {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    display: inline;
    margin-right: 20px;
}
nav a:hover{
    background-color: rgba(255, 0, 149, 0.082);
    color: rgb(145, 83, 160); 
    padding: 15px;
}
/*FIM MENU*/

/* CONTEUDO */
#info-msg {
    margin: auto;
    color: rgb(86, 50, 95); 
    padding: 20px;
}

#info {
    background: rgb(255, 221, 236);
    background: linear-gradient(90deg, rgba(255, 221, 236, 0.51) 0%, rgba(210, 230, 255, 0.392) 100%);
    width: 600px; 
    height: 400px;
    padding: 60px;
    text-align: center; 
    align-items: center;
    margin: auto;
    border-radius: 8px;
    font-size: large;
}

#iniciar {
    padding: 100px;
}

#start {
    background-color:rgb(218, 175, 229); 
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    box-shadow: 10px;
}


#recarregar {
    text-align: center;
}
/* FIM CONTEUDO */

/* RODAPÉ */

hr{
    margin-top: 84px;
}
footer {
    color: rgb(86, 50, 95); 
	text-align: center;
    justify-content: center;

}
footer nav{
    margin: 27px auto 0;
	max-width: 700px;
	background: rgb(255, 221, 236);
    background: linear-gradient(90deg, rgb(255, 221, 236) 0%, rgb(210, 230, 255) 100%);
	border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}
/* FIM RODAPÉ */
